# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
AppData/
NTUSER.DAT*
ntuser.*
*.regtrans-ms
*.LOG*
*.LOG
*.ini
Contacts/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/
Documents/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
.android/
.antigravity/
.codeium/
.cursor/
.gemini/
.gitconfig
.gradle/
.lesshst
.mcp-auth/
.software/
.wakatime/
.windsurf/
.EasyOCR/
texput.*